<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Micro APP @ Evgeny Fomin - info@jeka.ru{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('/assets/images/icon-32.png') }}?2"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/compiled/styles.css') }}" media="all"/>
</head>
<body class="{{ block('body_class') }}">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ url('homepage') }}"><img src="/assets/images/icon.png" height="24" width="24" alt="Micro APP"></a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('gallery') }}">Gallery</a>
            </li>
            <li>
                <a href="{{ path('about') }}">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
<script src="{{ asset('assets/compiled/polyfills.js') }}"></script>
<script src="{{ asset('assets/compiled/app.js') }}"></script>
{% endblock %}

<footer>
    <i class="fa fa-github"></i> You can see source code <a href="https://github.com/jekill/micro-app">https://github.com/jekill/micro-app</a><br/>
    &copy; Fomin Evgeny &mdash; <a href="http://jeka.ru">jeka.ru</a>
</footer>
</body>
</html>
